<div class="row">
    <div class="col-md-3"><img src="img/newsletter-icon.png"></div>
    <div class="col-md-8">
        <h3>NEWSLETTER SIGNUP</h3>
        <p>Please use email validation and add a class for invalid email</p>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter a valid email address">
        </div>
        <div class="form-group">
            <input type="submit" id="submit-btn" class="form-control" value="SIGN UP">
        </div>
    </div>
</div>
