<div class="app-footer">
    <div class="row"   style="background-color: #f5f5f5; width: 100%; padding-top:20px; padding-bottom:20px; margin-left: 0;">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-2">{{>links}}</div>
            <div class="col-md-2">{{>links}}</div>
            <div class="col-md-2">{{>links}}</div>
            <div class="col-md-1"></div>
            <div class="col-md-5">{{>email}} </div>
        </div>
    </div>
    <div class="row" style="background-color: #303030; height: 60px; width: 100%; position:absolute; color: white; margin-left: 0;">
        <div class="col-md-10 col-md-offset-1" style="padding-top: 10px;">
            <div class="col-md-4" style=" float: left; padding-left: 25px;">
            	<p style="padding-bottom: 0; margin-bottom: 0;">© 2014 - Star Cruiser</p>
            	<a href="">Privacity Policity</a> | <a href="">Terms and Conditions</a>       	 
            </div>
            <div class="col-md-3" style="float: right;">
            	<img src="img/logo.png" style="float: right; padding-right: 25px;">
            </div>
        </div>
    </div>
</div>