<div class="app-footer">
    <div class="row" id="footer-up">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-2">{{>links}}</div>
            <div class="col-md-2">{{>links}}</div>
            <div class="col-md-2">{{>links}}</div>
            <div class="col-md-1"></div>
            <div class="col-md-5">{{>email}}</div>
        </div>
    </div>
    <div class="row" id="footer-m">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-7" id="pandt">
                <ul class="link-group">
                  <li>Anim pariatur cliche reprehenderit, enim eiusmod high life</li>
                  <li><a href="">Privacity Policity</a>|
                  <a href="">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="img/footer-logo.png" class="logo" style="float: right; margin-right: 15px;">
            </div>
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/lib.js"></script>