<div class="col-md-1 text-center navbar-btn navbar-right">
    <a href="/index3" class="link-menu {{#xif url '==' '/index3'}}actived{{/xif}}">Help</a>
</div>
<div class="col-md-4 text-center navbar-btn navbar-right">
    <a href="/index2" class="link-menu {{#xif url '==' '/index2'}}actived{{/xif}}">
    Learn About Our Cruiser Ships
    </a>
</div>
<div class="col-md-2 text-center navbar-btn navbar-right">
    <a href="/" class="link-menu {{#xif url '==' '/'}}actived{{/xif}}">Plan Your Vacation</a>
</div>