<div class="row" style="">
  <div class="col-md-3 navbar-btn text-center">
  	 <a href="/" class="link-menu">Plan Your Vacation</a>
  </div>
  <div class="col-md-6 navbar-btn text-center">
  	 <a href="/index2" class="link-menu">Learn About Our Cruiser Ships </a>
  </div>
  <div class="col-md-1 navbar-btn text-center">
  	 <a href="/index3" class="link-menu">Help</a>
  </div>
</div>