<nav class="navbar navbar-default" role="navigation">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3" style="float: left;">
                <img src="img/logo.png" class="logo">
            </div>
            <div class="col-md-7" style="float: right;">
                {{>menu}}
            </div>
        </div>
    </div>
</nav>
<div class="submenu">
    {{>submenu}}
</div>