<nav class="navbar navbar-default" role="navigation">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 class="navbar-brand">
                <img src="img/logo.png" class="logo">
            </div>
            <div class="col-md-9">
                {{>menu}}
            </div>
        </div>
</nav>
<div class="submenu">
        <div class="col-md-10 col-md-offset-1">
            {{>submenu}}
        </div>
</div>