<div class="app-content">
   {{>carousel}}
   <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p class="text-center" id="slogan">WHY STAR CRUISER?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 text-center">
                <img src="img/icon-1.png">
                <p class="action">SELECT A DAY</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="img/icon-2.png">
                <p class="action">PICK YOUR PREFERENCES</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="img/icon-3.png">
                <p class="action">ENJOY THE CRUISER</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
</div>