body {
   font-family: helvetica, arial, sans-serif;
}
.app-content {
    width: 100%;
}
#slide1 {
  background-image: url('img/slide1.png') !important;
  background-size: 100%;
}

#slide2 {
  background-image: url('img/slide2.png') !important;
  background-size: 100%;
}

#slide3 {
  background-image: url('img/slide3.jpg') !important;
  background-size: 100%;
}

#slogan {
    font-size: 30px;
    color: #0A85BA;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
.action {
    font-size: 16px;
    padding-top: 15px;
    color: #0A85BA;
}
.text {
    margin-bottom: 50px;
}
a.actived {
	font-weight: bold;
	color: #0A85BA !important;
}
.triang {
    border-style: solid;
    border-color: rgba(232, 238, 238, 0);
    border-bottom-color: #0A85BA;
    border-width: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: -11px;
}
.row {
    margin-left: 0;
    font-size: 80%;
}
.navbar-btn {
    padding-top: 15px;
}
.img-carousel {
    max-height: 350px;
    max-width: 100%;
    min-height: 350px;
    min-width: 100%;
    background-repeat: no-repeat;
}
.logo {
    padding-left: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: center;
}
.app-footer {
    width: 100%;
    padding-bottom: 30px;
}
.link-menu {
    font-size: 13px;
    color: black;
}
a.link-menu:hover {
    text-decoration: none;
    color: #3b5998;
}
.navbar-btn {
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    margin-bottom: 0;
}
.submenu {
    background-color: #3b5998;
    height: 50px;
}
.div-carousel {
    border-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-color: #3b5998;
}
.test {} .link-group h5 {
    font-weight: bold;
}
.link-group li {
    list-style: none;
}
.col-md-5 h3 {
    padding-top: 0;
    margin-top: 3px;
    color: #0A85BA;
    font-weight: bold;
    font-size: 21px;
}
.col-md-3 input {
    border-radius: 0;
    float: right;
}
.col-md-5 input {
    border-radius: 0;
    float: right;
}
#submit-btn {
    width: 40%;
    font-size: 16px;
    background-color: #0A85BA;
    color: white;
    font-weight: bold;
}
.form-group {
    margin-bottom: 50px;
}
.col-md-2 {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
}
.submenu {
    background-color: #0A85BA;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
}
.panel-default {
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    border: 0;
}
.panel-body {
    background-color: #005579;
    color: white;
    font-size: 80%;
}
.panel-heading {
    background-color: #008EB0 !important;
    background-image: none !important;
    color: white !important;
    border-radius: 0;
    cursor:pointer;
}
li.dropdown:hover {
	font-weight: bold;
}
div.panel-heading:hover {
    background-color: #EBAD32 !important;
    font-weight: bold;
}
.link-sub {
    color: white;
}
#footer-up {
	background-color: #E8E8E8;
	padding: 20px; 
}
#footer-m {
	background-color: #515151;
	padding: 20px;
	list-sbtyle: none !important;
}
#pandt {
	margin-left: -18px;
	color: white !important;
}
#pandt a {
	color: white !important;
	text-decoration: underline;
	margin-right: 3px;
}
.mycaret {
    float: right;
    margin-top: 5px;
}
li a {
    color: black;
}
a {
    color: white;
}
a.see {
    color: #EBAD32;
    float: right;
    text-decoration: underline;
}

input[type='email'] {
    width: 235px;
    font-size: 14px;
}
input:invalid {
    color: red;
}
input:valid {
    color: green;
}