@font-face {
    font-family: "Exo";
    src: url('fonts/Exo-BoldItalic.otf');
}
.app-content {
	width: 100%;
}

#slogan {
	font-family: "Exo";
	font-size: 24px;
	color: #008EB0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.action {
	font-family: "Exo";
	font-size: 16px;
	padding-top: 15px;
	color: #008EB0;
}

.text {
	margin-bottom: 50px;
}

row {
	margin-left: 0;
}
.navbar-btn {
	margin-top: 15px;
}

.img-carousel {
  max-height: 350px; 
  max-width: 100%; 
  min-height: 350px; 
  min-width: 100%;"
}  

.app-footer {
  width: 100%;
  padding-bottom: 30px;	
}

.link-menu {
	font-size: 12px;
	font-weight: bold;

}
.navbar-btn {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
}

.submenu {
	background-color: #3b5998;
	height: 50px;
}

.div-carousel {
	border-bottom: 4px;
	border-bottom-style: solid;
	border-bottom-color: #3b5998;
}

.test {

}

.link-group h5 {
	font-weight: bold;
}

.link-group li {
	color : blue;
	list-style: none;
}

.col-md-5 h3 {
	font-family: "Exo";
	padding-top: 0;
	margin-top:  12px;
	color: #008EB0;
}

.col-md-3 input {
	border-radius: 0;
	float: right;
}
.col-md-5 input {
	border-radius: 0;
	float: right;
}

#submit-btn {
	width: 40%;
    font-size: 16px;
	font-family: "Exo";
	background-color: #008EB0;
	color: white;

}

.form-group {
	margin-bottom: 50px;
}

.col-md-2 {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
}

